{% extends 'secured-pages/base.html' %}


{% block title %}A Little About Us! {% endblock %}


{% block content %}
<div ><h1>About</h1></div>

<h3>What is Free Art Friday?</h3>
<p>Free Art Fridays is a global event where artist randomly gift their artwork to their comminity by randomly leaving it on the streets. Some make a game out of it and leave clues on social media for people to find.</p>
<h3>Creating a platform.</h3>
<p>Now, we are going to take Free Art Friday to the next level by tossing a little technology in to the mix. The rules are still the same only now, it's an all out scavenger hunt!</p>
{% endblock %}
