{% extends 'open-pages/base_no_auth.html' %}

{% block title %}SNATCHED UP!{% endblock %}
{% block navigation %}
	<li>Home</li>
  	<li><a href="{% url 'about'%}">About</a></li>
  	<li><a href="{% url 'login'%}">Log In</a></li>
  	<li><a href="{% url 'signup'%}">Sign Up</a></li>
{% endblock %}
{% block content %}
<div> <h1>SNATCHED!</h1>	</div>
      <p >Let's get the chase started! <a href="{% url 'login'%}">Login</a></p>
      <p>No account? No problem <a href="{% url 'signup'%}">Register now!</a></p>
{% endblock %}