{% extends 'open-pages/base_no_auth.html' %}

{% block navigation %}
	<li><a href="{% url 'home'%}">Home</a></li>
  	<li><a href="{% url 'about'%}">About</a></li>
  	<li>Log In</li>
  	<li><a href="{% url 'signup'%}">Sign Up</a></li>
{% endblock %}

{% block content %}
  <h2>Log In</h2>
      <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
   	<p>Not Registered? <a href="{% url 'signup' %}">Sign up Here.</a></p>
{% endblock %}