<!DOCTYPE html>
<html>
{% block loading %} {% endblock %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <style>
      html {position: relative; min-height: 100%; }
      body {margin-bottom: 60px;}
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
  <nav>
  	<li><a href="{% url 'dashboard'%}">Dashboard</a></li>
  	<li><a href="{% url 'studio'%}">Studio</a></li>
  	<li><a href="{% url 'create_drop'%}">Create</a></li>
  	<li><a href="{% url 'browse_area' %}">Browse</a></li>
  	<li><a href="{% url 'logout'%}">Log out</a></li>
  </nav>
      {% block content %}
      {% endblock %}
{% block javascript %} {% endblock %}
  </body>
</html>
