{% extends 'secured-pages/base.html' %}

{% block title %} Studio{% endblock %}
{% block content %}
{% if artpieces %}
<table>
<thead>
				<tr>
					<th> Thumbnail </th>
					<th>Drop Name </th>
					<th>Status </th>
					<th>Recovery Code </th>
					<th>Update </th>
				</tr>
			</thead>
  {% for art in artpieces %}
    <tr>
    <td><img src="{{art.preview_image}}"/></td>
    <td>{{art.title}}</td>
    <td><a href="#">{{art.status}}</a></td>
    <td>{{art.trimmed_uuid}}</td>
    <td><a href="#">Edit</a></td>
    </tr>
  {% endfor %}
 <table>
 <a href="{% url 'create_drop'%}">Make another drop </a>
{% else %}
<h1>Studio</h1>
<h2>Created Someting Cool?</h2>
<a href="{% url 'create_drop'%}">Next > </a>
{% endif %}
{% endblock %}
